@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Ribeye&family=Righteous&family=Work+Sans&display=swap');

/* General Page Styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #252525;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

.fa-cart-shopping{
  font-size: 25px;
  margin-right: 40px;
  color: #ffffff;
  cursor: pointer;;
  transition: transform 0.3s ease; color: 0,3s ease;
}
.fa-cart-shopping:hover{
  color: white;
  transform: scale(1.2);
}

/* Header */
header {
  background: #3b141c;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}

header p {
  font-family: "Miniver", sans-serif;
  font-size: 36px;
  color: #fff;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-align: center;
  color: #fff;
  margin: 0 15px;
  padding: 10px 16px;
  transition: .5s;
  text-decoration: none;
  border-radius: 30px;
}

header nav ul li a:hover {
  color: #3b141c;
  background-color: #e58c3a;
}

/* Title */
h1 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  margin: 120px 0 40px;
  font-weight: bold;
}

.linea {
    width: 80px;
    height: 3px;
    background: orange;
    margin: 0 auto 30px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

/* Menu Cards */
.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to right,#3b242c,#5c1f2a,#7a2d3b);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 320px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px 20px 20px 20px;
  transition: transform 0.3s ease;
}

.card img {
  border-radius: 20px;
  object-fit: cover;
  max-width: 80%;
  max-height: 200px;
  margin: 0 auto;
}

.card h2 {
  margin: 10px 0 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.card p {
  font-size: 14px;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}

.card:hover {
  transform: scale(1.05);
}

/* Buttons inside cards */
.card button {
  border: none;
  display: inline-block;
  text-decoration: none;
  background: #e58c3a;
  color: #3b141c;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  margin: 5px;
}

.card button:hover {
  color: #fff;
  background: #252525;
  transform: scale(1.05);
}

